h1{
    font-size: 50px;
    font-family: 'Merriweather', serif;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
    color: red;
}

body{
    font-family: 'Merriweather', serif;
    margin: 0px;
}
#color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding-top: 5%;

}
.background{
    background-image: url("All Images/top-banner.png");
    background-repeat: no-repeat;
    
}

section{
    height: 500px;
    padding-bottom: 200px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(60deg, lightsalmon,orange);
    padding: 15px 30px;
    color: white;
    margin-top: 10%;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
}
p{
    color: dimgray;

}
#experience{
    margin-left:5% ;
}
.new{
    background-image: url("All Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 100%;
    background-color: white;
}
#h3{
    color: orange;
}
.experience-area{
    background-image: url("All images/exp-bg.png" );
    background-repeat: no-repeat;
    background-position: left;
}
#Full-Stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
    
   
}
#language{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}
